absl-py==1.0.0
antlr4-python3-runtime==4.9.3
astroid==2.12.13
astunparse==1.6.3
attrs==22.1.0
cachetools==5.1.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
dbus-python==1.2.16
dill==0.3.6
exceptiongroup==1.0.4
flatbuffers==1.12
fonttools==4.38.0
future==0.18.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h5py==3.6.0
idna==2.8
imageio==2.22.4
imgaug==0.4.0
importlib-metadata==4.11.4
iniconfig==1.1.1
invoke==1.7.3
isort==5.10.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
libclang==14.0.1
mando==0.6.4
Markdown==3.3.7
matplotlib==3.6.2
mccabe==0.7.0
networkx==2.8.8
numpy==1.22.4
oauthlib==3.2.0
omegaconf==2.2.3
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
Pillow==9.3.0
platformdirs==2.5.4
pluggy==1.0.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.10.0
PyGObject==3.36.0
pylint==2.15.7
pyparsing==3.0.9
pytest==7.2.0
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0
radon==5.1.0
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rsa==4.8
scikit-image==0.19.3
scipy==1.9.3
seaborn==0.12.1
Shapely==1.8.5.post1
six==1.14.0
smmap==5.0.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
tifffile==2022.10.10
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
typing-extensions==4.2.0
urllib3==1.25.8
visual-logging==1.0
Werkzeug==2.1.2
wrapt==1.14.1
xenon==0.9.0
xmltodict==0.13.0
zipp==3.8.0
